@use "../variables" as *;

.btn-1 {
  border: 3px solid $white;
  font-size: 25px;
  color: $white;
  font-weight: 400;
  padding: 8px 16px;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 100%;
    background-color: $white;
    transition: right 400ms;
  }

  &:hover::before {
    right: 0;
  }
}
